html,
body {
  background-color: #fcf8f6;
  background-image: url("/img/bg.png");
  background-size: 250px;
  background-blend-mode: overlay;
  background-blend-mode: lighten;

  @apply dark:bg-gray-700;
  font-family: "Cairo";

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.side-menu {
  background-color: #f4ebe5;
  @apply dark:bg-gray-800;
}

/* Read Page */

.story-bg {
  background: url("/stories/read-bg.jpeg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.story-header,
.story-content {
  z-index: 1;
}
