@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Cairo:wght@200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.arrow-back {
    font-family: 'remixicon' !important;
    font-style: normal;
}
.arrow-back:before {
    content: "\ea60";
}

/* RTL variant */
[dir="rtl"] .arrow-back:before {
    content: "\ea6c";
}